body{
    margin:0;
}

.sidebar{
    float:left;
    padding:30px;
    width:25%;
    background-color:#f4f4f4;
    position:fixed;
    height:100%;
}
.content{
    float:left;
    padding:30px;
    width:60%;
    margin-left:24%;
}
hr{
    border-top:1px solid #ddd;
}
input,textarea{
    margin-bottom:8px;
}

.sidebarHeader{
    text-align: center;
}

.sidebarCont{
   text-align: center;    
}